    .v597_2175 {
        width: 100%;
        height: 1132px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-size: cover;
    }
    
    .v597_2175_manage {
        width: 100%;
        height: 2019px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-size: cover;
    }
    
    .v597_2176 {
        width: 500px;
        height: 350px;
        background: rgba(204, 185, 177, 1);
        opacity: 1;
        position: absolute;
        top: 150px;
        left: 71px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
    }
    
    .v597_2176_manage {
        width: 500px;
        height: 402px;
        background: rgba(204, 185, 177, 1);
        opacity: 1;
        position: absolute;
        top: 150px;
        left: 71px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
    }
    
    .v597_2183 {
        width: 171px;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 180px;
        left: 235px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 22px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2388 {
        width: 455px;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 207px;
        left: 78px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        line-height: 50px;
    }
    
    .v597_2388_tell {
        list-style: none;
    }
    
    .v597_2184 {
        width: 48px;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 150px;
        left: 993px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 22px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2187 {
        width: 150px;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 247px;
        left: 642px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2187_input {
        box-sizing: border-box;
        position: absolute;
        width: 576px;
        height: 40px;
        left: 800px;
        top: 237px;
        border: none;
        border-bottom: 2px solid #000;
        transform: matrix(1, 0, 0, 1, 0, 0);
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
    }
    
    .v597_2190 {
        width: 150px;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 312px;
        left: 642px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2190_input {
        box-sizing: border-box;
        position: absolute;
        width: 576px;
        height: 40px;
        left: 800px;
        top: 302px;
        border: none;
        border-bottom: 2px solid #000;
        transform: matrix(1, 0, 0, 1, 0, 0);
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
    }
    
    .v597_2191 {
        width: 150px;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 377px;
        left: 642px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2191_input {
        box-sizing: border-box;
        position: absolute;
        width: 576px;
        height: 40px;
        left: 800px;
        top: 367px;
        border: none;
        border-bottom: 2px solid #000;
        transform: matrix(1, 0, 0, 1, 0, 0);
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
    }
    
    .v597_2192 {
        width: 150px;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 442px;
        left: 642px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
        opacity: 1;
        text-align: left;
    }
    
    .v597_2192_input {
        box-sizing: border-box;
        position: absolute;
        width: 576px;
        height: 40px;
        left: 800px;
        top: 432px;
        border: none;
        border-bottom: 2px solid #000;
        transform: matrix(1, 0, 0, 1, 0, 0);
        font-family: Arvo;
        font-weight: Regular;
        font-size: 16px;
    }
    
    .v597_2193 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 22px;
        gap: 10px;
        position: absolute;
        width: 120px;
        height: 40px;
        left: 955px;
        top: 562px;
        background: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 60px;
        overflow: hidden!important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background: transparent!important;
        z-index: 10;
    }
    
    .v597_2193:hover {
        border: 1px solid $primary-color;
        color: $primary-color!important;
    }
    
    .v597_2193::before {
        content: '';
        width: 0%;
        height: 100%;
        display: block;
        background: $primary-color;
        position: absolute;
        -ms-transform: skewX(-20deg);
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        left: -10%;
        opacity: 1;
        top: 0;
        z-index: -12;
        -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
        box-shadow: 2px 0px 14px $primary-color;
    }
    
    .v597_2193::after {
        content: '';
        width: 0%;
        height: 100%;
        display: block;
        background: $primary-color;
        position: absolute;
        -ms-transform: skewX(-20deg);
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        left: -10%;
        opacity: 0;
        top: 0;
        z-index: -15;
        -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
        -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
        -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
        transition: all .4s cubic-bezier(.2, .95, .57, .99);
        box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
    }
    
    .v597_2193:hover::before,
    .v597_2193:hover::before {
        opacity: 1;
        width: 116%;
    }
    
    .v597_2193:hover::after,
    .v597_2193:hover::after {
        opacity: 1;
        width: 120%;
    }
    
    .v597_2194 {
        width: 44px;
        height: 16px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.04em;
        color: #5B3034;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
    }
    
    .v606_2778 {
        width: 1370px;
        height: 868px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        position: absolute;
        top: 622px;
        left: 70px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 0px 0px 30px rgba(0.2199479192495346, 0.27852916717529297, 0.42916667461395264, 0.09000000357627869);
        overflow: hidden;
    }
    
    .v610_2001 {
        width: max-content;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 26px;
        left: 578px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 18px;
        opacity: 1;
        text-align: center;
    }
    
    .v610_2002 {
        width: max-content;
        color: #B5B5C3;
        position: absolute;
        top: 55px;
        left: 580px;
        font-family: Arvo;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: center;
    }
    
    .v610_2003 {
        border: none;
    }
    
    .v610_2004 {
        width: 1310px;
        height: 43px;
        background: rgba(204, 185, 177, 1);
        opacity: 1;
        position: absolute;
        top: 100px;
        left: 30px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2005 {
        width: 39px;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 13px;
        left: 30px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2006 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 13px;
        left: 394px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2007 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 13px;
        left: 656px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2008 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 13px;
        left: 892px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2009 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 13px;
        left: 1090px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2010 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2011 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 187px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2012 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 187px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2013 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 187px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2014 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 180px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2015 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 197px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2016 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 180px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2017 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2018 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 180px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2019 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2020 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2021 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 267px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2022 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 267px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2023 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 267px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2024 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 260px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2025 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 277px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2026 {
        width: 70px;
        height: 32px;
        background: #FFE2E5;
        opacity: 1;
        position: absolute;
        top: 260px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2027 {
        width: max-content;
        color: #F64E60;
        position: absolute;
        top: 8px;
        left: 9px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2028 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 260px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2029 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2030 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2031 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 347px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2032 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 347px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2033 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 347px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2034 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 340px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2035 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 357px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2036 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 340px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2037 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2038 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 340px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2039 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2040 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2041 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 427px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2042 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 427px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2043 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 427px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2044 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 420px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2045 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 437px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2046 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 420px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2047 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2048 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 420px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2049 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2050 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2051 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 507px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2052 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 507px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2053 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 507px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2054 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 500px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2055 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 517px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2056 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 500px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2057 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2058 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 500px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2059 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2060 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2061 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 587px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2062 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 587px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2063 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 587px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2064 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 580px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2065 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 597px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2066 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 580px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2067 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2068 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 580px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2069 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2070 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2071 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 667px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2072 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 667px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2073 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 667px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2074 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 660px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2075 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 677px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2076 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 660px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2077 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2078 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 660px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2079 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2080 {
        width: 1240px;
        height: 50px;
    }
    
    .v610_2081 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 747px;
        left: 60px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2082 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 747px;
        left: 424px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2083 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 747px;
        left: 686px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2084 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 740px;
        left: 922px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2085 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 757px;
        left: 922px;
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        opacity: 1;
        text-align: left;
        color: #B5B5C3;
    }
    
    .v610_2086 {
        width: 70px;
        height: 32px;
        background: #F4FFF3;
        opacity: 1;
        position: absolute;
        top: 740px;
        left: 1110px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2087 {
        width: max-content;
        color: #5F8D4E;
        position: absolute;
        top: 8px;
        left: 18px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_2088 {
        width: 32px;
        height: 32px;
        background: #e9e9ec;
        opacity: 1;
        position: absolute;
        top: 740px;
        left: 1305px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }
    
    .v610_2089 {
        color: #5B3034;
        position: absolute;
        top: 4px;
        left: 8px;
        font-family: Arvo;
        font-weight: Bold;
        font-size: 18px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
    
    .v610_2090 {
        width: max-content;
        color: rgba(91, 47, 52, 1);
        position: absolute;
        top: 827px;
        left: 30px;
        font-family: Arvo;
        font-weight: normal;
        font-size: 12px;
        opacity: 1;
        text-align: left;
    }
    
    .v610_1999 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 22px;
        gap: 10px;
        position: absolute;
        width: 120px;
        height: 40px;
        top: 485px;
        left: 425px;
        border: 2px solid #5B3034;
        border-radius: 60px;
        border-radius: 60px;
    }
    
    .v610_2000 {
        width: max-content;
        height: 16px;
        font-family: "Arvo";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.04em;
        color: #5B3034;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
    }