.v544_2033 {
    width: 100%;
    height: 1182px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v544_2049 {
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 71px;
    overflow: hidden;
}

.v544_2050 {
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v544_2051 {
    width: 400px;
    height: 500px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.v544_2066 {
    width: 118px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 150px;
    left: 919px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v544_2089 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 247px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v544_2055 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 312px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v544_2057 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 377px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v544_2093 {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 442px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v586_2124 {
    width: 424px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 507px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v544_2089_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 237px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v544_2055_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 302px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v544_2057_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 367px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v544_2093_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 432px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v586_2124_box {
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 40px;
    left: 1000px;
    top: 497px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v544_2095 {
    width: 300px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 562px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v544_2096 {
    width: 173px;
    color: rgba(37, 57, 236, 1);
    position: absolute;
    top: 562px;
    left: 840px;
    font-family: Arvo;
    font-weight: Italic;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v544_2064 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1255px;
    top: 602px;
    background: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 60px;
}

.v544_2065 {
    width: 75px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #5B3034;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.v544_2058 {
    width: 270px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 662px;
    left: 1152px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v544_2060 {
    width: 50px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 662px;
    left: 1330px;
    font-family: Arvo;
    font-weight: Italic;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}