.v550_2000 {
    width: 100%;
    height: 1387px;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v550_2001 {
    width: 400px;
    height: 717px;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 71px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    border: 5px solid $primary-color;
}

.v550_2002 {
    width: 129px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 180px;
    left: 206px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v550_2003 {
    width: 102px;
    position: absolute;
    top: 237px;
    left: 94px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v550_2004 {
    width: 241px;
    position: absolute;
    top: 237px;
    left: 219px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v550_2005 {
    width: 174px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 150px;
    left: 869px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v550_2006 {
    width: 769px;
    height: 320px;
    opacity: 1;
    position: absolute;
    top: 227px;
    left: 571px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    border: 5px solid $primary-color;
}

.v550_2007 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 277px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2007_line {
    box-sizing: border-box;
    position: absolute;
    width: 669px;
    height: 0px;
    left: 621px;
    top: 292px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.v550_2008 {
    width: 270px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 277px;
    left: 870px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2009 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 342px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2009_line {
    box-sizing: border-box;
    position: absolute;
    width: 669px;
    height: 0px;
    left: 621px;
    top: 357px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.v550_2010 {
    width: 250px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 342px;
    left: 870px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2011 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 407px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2011_line {
    box-sizing: border-box;
    position: absolute;
    width: 669px;
    height: 0px;
    left: 621px;
    top: 422px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.v550_2012 {
    width: 250px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 407px;
    left: 870px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2013 {
    width: 200px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 472px;
    left: 621px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2013_line {
    box-sizing: border-box;
    position: absolute;
    width: 669px;
    height: 0px;
    left: 621px;
    top: 487px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.v550_2014 {
    width: 250px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 472px;
    left: 870px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0.15em;
}

.v550_2016 {
    width: 250px;
    height: 10px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 490px;
    left: 1250px;
    font-family: Arvo;
    font-weight: bold;
    font-size: 45px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}