.v597_2175 {
    width: 100%;
    height: 1132px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v597_2176 {
    width: 500px;
    height: 350px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 71px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v597_2183 {
    width: 171px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 180px;
    left: 235px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v597_2388 {
    width: 455px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 207px;
    left: 78px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v597_2388_tell {
    list-style: none;
}

.v597_2184 {
    width: 48px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 150px;
    left: 993px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v597_2187 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 247px;
    left: 642px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v597_2187_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 237px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v597_2190 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 312px;
    left: 642px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v597_2190_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 302px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v597_2191 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 377px;
    left: 642px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v597_2191_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 367px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v597_2192 {
    width: 150px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 442px;
    left: 642px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v597_2192_input {
    box-sizing: border-box;
    position: absolute;
    width: 576px;
    height: 40px;
    left: 800px;
    top: 432px;
    border: none;
    border-bottom: 2px solid #000;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
}

.v597_2193 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 955px;
    top: 562px;
    background: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 60px;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
}

.v597_2193:hover {
    border: 1px solid $primary-color;
    color: $primary-color!important;
}

.v597_2193::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px $primary-color;
}

.v597_2193::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.v597_2193:hover::before,
.v597_2193:hover::before {
    opacity: 1;
    width: 116%;
}

.v597_2193:hover::after,
.v597_2193:hover::after {
    opacity: 1;
    width: 120%;
}

.v597_2194 {
    width: 44px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #5B3034;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}