.v509_img {
    width: 100%;
    height: 420px;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 0px;
}

.v509_2092 {
    width: 100%;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 525px;
    left: 71px;
    overflow: hidden;
}

.v509_2094 {
    width: 126px;
    color: #C08267;
    position: absolute;
    top: 0px;
    left: 586px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
}

.v509_2092_img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.98%;
    bottom: 81.41%;
}

.v509_2075_img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.98%;
    bottom: 81.41%;
}

.v532_2099 {
    width: 208px;
    color: $heading-color;
    position: absolute;
    top: 1579px;
    left: 71px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    height: 27px;
    line-height: 27px;
}

.v532_2095 {
    width: 88px;
    color: #000;
    position: absolute;
    top: 1569px;
    left: 565px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    height: 100px;
    line-height: 50px;
}

.v532_2096 {
    width: 320px;
    color: #000;
    position: absolute;
    top: 1569px;
    left: 733px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2097 {
    width: 87px;
    color: $heading-color;
    position: absolute;
    top: 265px;
    left: 0px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v532_2098 {
    width: 71px;
    color: #000;
    position: absolute;
    top: 1719px;
    left: 565px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2100 {
    width: 320px;
    color: #000;
    position: absolute;
    top: 1719px;
    left: 733px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2104 {
    width: 105px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 465px;
    left: 0px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v532_2105 {
    width: 142px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1919px;
    left: 565px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2106 {
    width: 320px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1919px;
    left: 733px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2102 {
    width: 148px;
    color: rgba(91, 47, 52, 1);
    position: absolute;
    top: 615px;
    left: 0px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v532_2101 {
    width: 142px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2069px;
    left: 565px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v532_2103 {
    width: 320px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2069px;
    left: 733px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 50px;
}

.v431_1852 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v431_1852_img {
    width: 150px;
    height: 150px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2036 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2046 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2051 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2057 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2067 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2064 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1188px;
    left: 477px;
    overflow: hidden;
}

.v524_2061 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2062 {
    width: 150px;
    height: 150px;
    background: $primary-color;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v431_1866 {
    width: 250px;
    color: #000;
    position: absolute;
    top: 810px;
    left: 595px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.01em;
}

.v524_2037 {
    width: 128px;
    color: #000;
    position: absolute;
    top: 1088px;
    left: 82px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2047 {
    width: 127px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1088px;
    left: 489px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2052 {
    width: 128px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1088px;
    left: 824px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2058 {
    width: 126px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1366px;
    left: 83px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2065 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2066 {
    width: 150px;
    height: 150px;
    background: url("../images/v524_2066.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2068 {
    width: 126px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1366px;
    left: 489px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2063 {
    width: 129px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1366px;
    left: 824px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2069 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1188px;
    left: 1219px;
    overflow: hidden;
}

.v524_2070 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2071 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2072 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2073 {
    width: 131px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1366px;
    left: 1229px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v503_2037 {
    width: 100%;
    height: 2689px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2075 {
    width: 100%;
    height: 642px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1464px;
    left: 71px;
    overflow: hidden;
}

.v524_2033 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 908px;
    left: 71px;
    overflow: hidden;
}

.v524_2034 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2035 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2048 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 908px;
    left: 813px;
    overflow: hidden;
}

.v524_2049 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2050 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2043 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 908px;
    left: 477px;
    overflow: hidden;
}

.v524_2044 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2045 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2038 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 908px;
    left: 1219px;
    overflow: hidden;
}

.v524_2039 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2040 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2041 {
    width: 150px;
    height: 150px;
    background: rgba(204, 185, 177, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.v524_2042 {
    width: 128px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1088px;
    left: 1230px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v524_2054 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1188px;
    left: 71px;
    overflow: hidden;
}

.v524_2055 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}

.v524_2056 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v524_2059 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1188px;
    left: 813px;
    overflow: hidden;
}

.v524_2060 {
    width: 150px;
    height: 150px;
    background: url("../images/v524_2060.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 20px 200px rgba(0.2235294133424759, 0.09019608050584793, 0.46666666865348816, 0.05000000074505806);
    overflow: hidden;
}