.v410_56 {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 2269px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_manage {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 2449px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_parishier {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 900px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_manageredu {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 1450px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_contact3 {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 1599px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_login {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 750px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_register {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 762px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_forgot {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 762px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_contact {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 712px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_edu {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 967px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_input {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 2440px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_56_matrimonal {
    width: 100%;
    height: 420px;
    background: #5B3034;
    opacity: 1;
    position: absolute;
    top: 787px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v410_57 {
    width: 97.81px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 1031px;
    overflow: hidden;
}

.v410_58 {
    width: 24.67px;
    height: 24px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v410_fb {
    width: 10.68px;
    height: 20px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 6.79px;
}

.v410_62 {
    width: 24.67px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 48.46px;
    overflow: hidden;
}

.v410_yt {
    width: 22.63px;
    height: 18.47px;
    opacity: 1;
    position: absolute;
    top: 4.26px;
    left: 1.02px;
}

.v410_68 {
    width: 402px;
    color: #FFFFFF;
    position: absolute;
    top: 372px;
    left: 653px;
    font-family: $font;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v410_69 {
    width: 205px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 1031px;
    overflow: hidden;
}

.v410_70 {
    width: 205px;
    height: 30px;
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arvo;
    font-weight: 700;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v410_71 {
    width: 205px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 385px;
    overflow: hidden;
}

.v410_72 {
    width: 205px;
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v410_73 {
    width: 234px;
    height: 39px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 71px;
    overflow: hidden;
}

.v410_74 {
    width: 234px;
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: $font;
    font-weight: Regular;
    font-size: 26px;
    opacity: 1;
    text-align: left;
}

.v410_75 {
    width: 205px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 207px;
    left: 385px;
    overflow: hidden;
}

.v410_76 {
    width: 205px;
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: $font;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v410_77 {
    width: 199px;
    position: absolute;
    top: 122px;
    left: 810px;
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v410_77_home {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.v410_77_about {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.v410_77_edu {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.v410_77_apply {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.v410_77_person {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.v410_78 {
    width: 386px;
    color: #FFFFFF;
    position: absolute;
    top: 119px;
    left: 384px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    line-height: 38px;
}

.v410_79 {
    width: 386px;
    color: #FFFFFF;
    position: absolute;
    top: 246px;
    left: 384px;
    font-family: Arvo;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    line-height: 38px;
}

.v410_80 {
    width: 199px;
    color: #FFFFFF;
    position: absolute;
    top: 73px;
    left: 810px;
    font-family: Arvo;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}