.v503_2039 {
    width: 100%;
    height: 500px;
    background: rgba(91, 48, 52, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v503_2039_contact {
    width: 100%;
    height: 80px;
    background: rgba(91, 48, 52, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v413_22 {
    width: 76px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 45px;
    overflow: hidden;
}

.v413_30 {
    width: 76px;
    height: 30px;
    background: url("../images/v413_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v413_22_img {
    width: 76px;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
    text-align: center;
}

.v664_3385 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 458px;
    height: 28px;
    left: 217px;
    top: 26px;
}

.v661_3385 {
    width: 50px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v661_3386 {
    position: absolute;
    width: 50px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2047 {
    width: 71px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 75px;
    overflow: hidden;
}

.v503_2048 {
    position: absolute;
    max-width: 71px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2049 {
    width: 199px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 171px;
    overflow: hidden;
}

.v503_2050 {
    max-width: 81px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2051 {
    max-width: 93px;
    height: 28px;
    left: 106px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2051_manager {
    max-width: 93px;
    height: 28px;
    left: 125px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2052 {
    width: 66px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 395px;
    overflow: hidden;
}

.v503_2052_manager {
    width: 66px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 375px;
    overflow: hidden;
}

.v503_2053_manager {
    width: 80px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 440px;
    overflow: hidden;
}

.v503_2054_manager {
    width: 80px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 550px;
    overflow: hidden;
}

.v503_2057 {
    width: 66px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v503_2072 {
    max-width: 63px;
    height: 28px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2072_manager {
    max-width: max-content;
    height: 28px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2073_manager {
    max-width: max-content;
    height: 28px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2074_manager {
    max-width: max-content;
    height: 28px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v503_2073 {
    max-width: 70px;
    height: 28px;
    left: 88px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
}

.v509_2074 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1205px;
    top: 20px;
    border: 2px solid #FFFADA;
    border-radius: 60px;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
}

.v509_2074:hover {
    border: 1px solid $primary-color;
    color: $primary-color!important;
}

.v509_2074::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px $primary-color;
}

.v509_2074::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #5B3034;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.v509_2074:hover::before,
.v509_2074:hover::before {
    opacity: 1;
    width: 116%;
}

.v509_2074:hover::after,
.v509_2074:hover::after {
    opacity: 1;
    width: 120%;
}

.v509_2075 {
    width: 55px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.v509_2076 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    top: 20px;
    left: 1350px;
    border: 2px solid #FFFADA;
    border-radius: 60px;
    border-radius: 60px;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
}

.v509_2076:hover {
    border: 1px solid $primary-color;
    color: $primary-color!important;
}

.v509_2076::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px $primary-color;
}

.v509_2076::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.v509_2076:hover::before,
.v509_2076:hover::before {
    opacity: 1;
    width: 116%;
}

.v509_2076:hover::after,
.v509_2076:hover::after {
    opacity: 1;
    width: 120%;
}

.v509_2077 {
    width: 75px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.v604_2356 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v604_2357 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v604_2381 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-size: cover;
}

.v431_1850 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 630px;
    left: 645px;
    overflow: hidden;
}

.v509_2078 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    top: 20px;
    left: 1350px;
    border: 2px solid #FFFADA;
    border-radius: 60px;
    border-radius: 60px;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
}

.v509_2078:hover {
    border: 1px solid $primary-color;
    color: $primary-color!important;
}

.v509_2078::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px $primary-color;
}

.v509_2078::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: $primary-color;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.v509_2078:hover::before,
.v509_2078:hover::before {
    opacity: 1;
    width: 116%;
}

.v509_2078:hover::after,
.v509_2078:hover::after {
    opacity: 1;
    width: 120%;
}

.v509_2079 {
    width: 68px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.v510_2001 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    top: 410px;
    left: 1350px;
    border: 2px solid$heading-color;
    border-radius: 60px;
    border-radius: 60px;
}

.v510_2002 {
    width: max-content;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: $heading-color;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.v503_2058-dropbtn {
    background-color: #5B3034;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px;
    border: none;
    cursor: pointer;
    top: 26px;
}


/* Dùng trong <div> để định vị nội dung thả xuống */

.v503_2058 {
    position: relative;
    display: inline-block;
    left: 700px;
    top: 10px;
}


/* Nội dung thả xuống (Ẩn theo mặc định) */

.v503_2058-content {
    display: none;
    position: absolute;
    background-color: #5B3034;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Liên kết bên trong danh sách thả xuống */

.v503_2058-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}


/* Thay đổi định dạng của liên kết thả xuống khi di chuột qua */

.v503_2058-content a:hover {
    background-color: #5B3034;
    color: white;
}


/* Hiển thị menu thả xuống khi di chuột */

.v503_2058:hover .v503_2058-content {
    display: block;
    z-index: 5;
}


/* Thay đổi màu nền của nút thả xuống khi nội dung được hiển thị */

.v503_2058:hover .v503_2058-dropbtn {
    background-color: #5B3034;
}