.v503_2039 {
    width: 100%;
    height: 80px;
    background: rgba(91, 48, 52, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v413_22 {
    width: 76px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 45px;
    overflow: hidden;
}

.v413_30 {
    width: 76px;
    height: 30px;
    background: url("../images/v413_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v413_22_img {
    width: 76px;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
    text-align: center;
}

.v664_3385 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 553px;
    height: 28px;
    left: 217px;
    top: 26px;
}

.v661_3385 {
    width: 50px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v661_3386 {
    position: absolute;
    width: 50px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v503_2047 {
    width: 71px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 75px;
    overflow: hidden;
}

.v503_2048 {
    position: absolute;
    max-width: 71px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v503_2049 {
    width: 199px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 171px;
    overflow: hidden;
}

.v503_2050 {
    max-width: 81px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v503_2051 {
    max-width: 93px;
    height: 28px;
    left: 106px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v503_2052 {
    width: 158px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 395px;
    overflow: hidden;
}

.v503_2057 {
    width: 158px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v503_2072 {
    max-width: 63px;
    height: 28px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v503_2073 {
    max-width: 70px;
    height: 28px;
    left: 88px;
    top: 0px;
    position: absolute;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.v509_2074 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1130px;
    top: 20px;
    border: 2px solid #FFFADA;
    border-radius: 60px;
}

.v509_2075 {
    width: 55px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.v509_2076 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1275px;
    top: 20px;
    background: #FFFADA;
    border: 2px solid #FFFADA;
    border-radius: 60px;
}

.v509_2077 {
    width: 75px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #5B3034;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.v604_2356 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v604_2357 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v604_2381 {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v431_1850 {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 630px;
    left: 645px;
    overflow: hidden;
}

.v509_2078 {
    width: 70px;
    height: 16px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #5B3034;
    flex: none;
    order: 0;
    flex-grow: 0;
    left: 27.5px;
}

.v509_2079 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    gap: 10px;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1275px;
    top: 20px;
    background: #FFFADA;
    border: 2px solid #FFFADA;
    border-radius: 60px;
}